[Unit]
Description=Mock Build Application
After=network.target

[Service]
ExecStart={{ admin_home }}/mock_build.sh

[Install]
WantedBy=multi-user.target
