[Unit]
Description=Secondary service Application
After=network.target

[Service]
ExecStart={{ admin_home }}/secondary-service.sh

[Install]
WantedBy=multi-user.target
